<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.mapper.BookMapper">
  
     <select id="bookList" resultType="com.example.demo.vo.BookVO">
         SELECT * FROM bookpost
         ORDER BY bid
     </select>
     
     <select id="fetchBookByID" resultType="com.example.demo.vo.BookVO"
      parameterType="int">
         SELECT * FROM bookpost
         WHERE bid = #{bid}
     </select>
     
     <delete id="deleteBook" parameterType="int">
         DELETE FROM bookpost
         WHERE bid = #{bid}
     </delete>
     
     <update id="updateBook" parameterType="com.example.demo.vo.BookVO">
         UPDATE users
         SET firstName = #{firstName}, lastName = #{lastName}, age = #{age}, salary = #{salary} 
         WHERE id = #{bid}
     </update>
  	
  	<select id="mybookList" resultType="com.example.demo.vo.BookVO">
         SELECT * FROM bookpost
         WHERE uid=#{uid}
         ORDER BY bid
     </select>

    <insert id="insertRequest" parameterType="com.example.demo.vo.BookVO">
        INSERT INTO request_list(guid, tuid, bid)
        SELECT #{guid}, id, #{bid}
        FROM users
        WHERE username=#{tuid}
    </insert>

    <insert id="insertLike" parameterType="com.example.demo.vo.inLikeVO">
        INSERT INTO like_list(uid, bid)
        SELECT id, #{bid}
        FROM users
        WHERE username=#{uid}
    </insert>


    <select id="likeList" resultType="com.example.demo.vo.BookVO">
         SELECT * FROM bookpost
         where bid IN (
         	select bid
         	from like_list
         	where uid=#{uid}
         )
         ORDER BY bid
     </select>

    <select id="fetchUserByID" resultType="com.example.demo.vo.UserVO" parameterType="int">
        SELECT * FROM users
        WHERE id = #{uid}
    </select>

    <select id="GetUIDbyName" resultType="int" parameterType="string">
        SELECT id FROM users
        WHERE username = #{username}
    </select>

    <select id="fetchUidByEmail" resultType="int" parameterType="string">
        SELECT id FROM users
        WHERE username = #{username}
    </select>

    <update id="updateUser" parameterType="com.example.demo.vo.UserVO">
        UPDATE users
        SET name = #{name}, addr = #{addr}, email = #{email}
        WHERE id = #{id}
    </update>

    <select id="borrowList" resultType="com.example.demo.vo.borrowListVO" parameterType="int">
        SELECT * FROM borrow_list
        WHERE guid = #{uid}
    </select>

    <select id="Listinfo" resultType="com.example.demo.vo.StringborrowListVO" parameterType="int">
        select bp.btitle, users.name, bl.gtid
        from borrow_list AS bl
        JOIN bookpost AS bp ON bp.bid = bl.bid
        JOIN users ON users.id = bl.guid
        where bl.tuid = #{id};

    </select>

    <select id="Listedinfo" resultType="com.example.demo.vo.StringborrowListVO" parameterType="int">
        select bp.btitle, users.name, bl.gtid
        from borrow_list AS bl
        JOIN bookpost AS bp ON bp.bid = bl.bid
        JOIN users ON users.id = bl.tuid
        where bl.guid = #{id};
    </select>

    <update id="minusgrade" parameterType="com.example.demo.vo.minusPrintVO">
        UPDATE users
        SET total_point = total_point+#{value}
        WHERE username = #{UserName}
    </update>

    <insert id="insertBook" parameterType="com.example.demo.vo.BookVO">
        INSERT INTO bookpost(btitle,bphoto,btag,uid,bpoint,bplace,btime)
        VALUES(#{btitle},#{bphoto},#{btag},#{uid},#{bpoint},#{bplace},#{btime})
    </insert>

    <insert id="insertReport" parameterType="com.example.demo.vo.ReportVO">
        INSERT INTO report(user,reason)
        VALUES(#{user},#{reason})
    </insert>

    <select id="fetchUserByID2" resultType="int"
            parameterType="String">
        SELECT id,
        FROM users
        WHERE username=#{username}
    </select>

    <delete id="deleteborrowlist" parameterType="int">
        DELETE FROM borrow_list
        WHERE gtid = #{gtid}
    </delete>

    <select id="findBid" resultType= "com.example.demo.vo.BookVO">
        SELECT * FROM bookpost where bid = (select MAX(bid) from bookpost);
    </select>

  </mapper>