<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.mapper.IndexMapper">
  
     <select id="borrowed_indexList" resultType="com.example.demo.vo.IndexVO">
         SELECT * FROM borrow_list
         WHERE guid = #{guid}
     </select>
     
     <select id="take_indexList" resultType="com.example.demo.vo.IndexVO">
         SELECT * FROM borrow_list
         WHERE tuid = #{tuid}
     </select>
     
     <delete id="deleteborrowlist" parameterType="int">
         DELETE FROM borrow_list
         WHERE gtid = #{gtid}
     </delete>

    <delete id="deletetakelist" parameterType="int">
        DELETE FROM borrow_list
        WHERE gtid = #{gtid}
    </delete>
  </mapper>